.tops{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 1350px;
}
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    width: 1150px;
}
.instrument{
    width: 450px;
    height: 370px;
}
.vibe{
    width: 450px;
    height: 370px;
}
.genre{
    width: 450px;
    height: 370px;
}